.delete-ad-popup {
  position: relative;
  .orange-button, .blue-button, .delete-button {
    width: 100%;
  }

  .delete-button {
    background: red;
    &.disabled {
      background: #a8acb3;
      cursor: not-allowed;
    }
  }
}
